<%= render "partials/header_bar" %>
<div class="staff-container">
  <% if @errors %>
    <div id="errors">
      <h2><%= pluralize(@errors.count, "error") %> prevented this post from saving</h2>
        <ul>
          <% @errors.each do |msg| %>
            <li><%= msg %> </li>
          <% end %>
        </ul>
    </div>
  <% end %>

  <h1 class="fac-head"> Staffer Homepage</h1>
  <!-- staffers can view proposals, click on one and create a new experiment -->
    <div class="prop-div list-container">
    <h2> Click on a proposal to view </h2>
      <% @staff_proposals.order('created_at desc').each do |proposal| %>
      <div class="ind-list-container">
        <h2 class="prop-title">
          <%= link_to proposal.title, proposal %>
        </h2>
      </div>
    <% end %>
    </div>


  <div class="prop-div list-container">
    <h2 class="exp-head"> Choose an experiment to view <h2>
    <% @user.experiments.order('created_at desc').each do |experiment| %>
    	<div class="ind-list-container">
    		<h3 class="prop-title exp-ind">
    			<%= link_to experiment.title, experiment %>
    		</h3>
    	</div>
    <% end %>
  </div>
</div>
