<%= render "partials/header_bar" %>
<h1> Proposal</h1>

<h4> Details for this proposal<h4>


<h1 class="title">
	<%= @proposal.title %>
</h1>

<p class="date">
	Submitted <%= time_ago_in_words(@proposal.created_at) %> ago
</p>

<p class="body">
		Hypothesis: <%= @proposal.hypothesis %><br><br>

		Summary: <%= @proposal.summary %>
</p>

<p class="status">
		<% if @proposal.status == true %>
			Status: Open
		<% else %>
			Status: Closed
		<% end %>
</p>


