<%= render "partials/header_bar" %>
<div class="proposal-container">
  <% if !check_if_faculty %>
  <%= render 'partials/create_experiment', locals: {proposal: @proposal} %>
  <% end %>
  <div class="proposal-header">

    <div class="prop-header-large">
      <h1> Proposal: </h1> <h1 class="proposal-title"><%= @proposal.title %></h1>
      <p class="proposal-date">Submitted <%= time_ago_in_words(@proposal.created_at) %> ago</p>
    </div>
      <div class="prop-header-small">
        <h1> Summary: </h1>
          <div class="proposal-summary">
            <p><%= @proposal.summary %></p>
          </div>
      </div>
      <div class="prop-header-small">
        <h1> Hypothesis: </h1>
          <div class="proposal-summary">
            <p><%= @proposal.hypothesis %></p>
          </div>
      </div>

      <div class="prop-header-small">
        <h1> Experiments: </h1>
          <div class="proposal-summary">
          <% @proposal.experiments.each do |exp| %>
            <p><%= link_to(exp.title + " by " + exp.staffer.username, experiment_path(exp))  %></p><br>
          <% end %>
          </div>
      </div>
  </div>

  <div class="proposal-body-container">






  </div>

</div>




